@CHARSET "ISO-8859-1";

.slot4_button1{
border-color:#D1D1D1;border-width: 1px 1px 5px 1px;border-style: solid; -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;font-size:13px;padding:1px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(255,255,255,1);font-weight:bold; color: #242424;
 background-color: #F9F9F9; background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#31A25E));
 background-image: -webkit-linear-gradient(top, #F9F9F9, #31A25E);
 background-image: -moz-linear-gradient(top, #F9F9F9, #31A25E);
 background-image: -ms-linear-gradient(top, #F9F9F9, #31A25E);
 background-image: -o-linear-gradient(top, #F9F9F9, #31A25E);
 background-image: linear-gradient(to bottom, #F9F9F9, #31A25E);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F9F9F9, endColorstr=#31A25E);
}

.slot4_button1:hover{
 border-color:#B5AEA8;border-width: 1px 1px 5px 1px;border-style: solid;
 background-color: #E0E0E0; background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#979797));
 background-image: -webkit-linear-gradient(top, #E0E0E0, #979797);
 background-image: -moz-linear-gradient(top, #E0E0E0, #979797);
 background-image: -ms-linear-gradient(top, #E0E0E0, #979797);
 background-image: -o-linear-gradient(top, #E0E0E0, #979797);
 background-image: linear-gradient(to bottom, #E0E0E0, #979797);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E0E0E0, endColorstr=#979797);
}
/* 

fieldset.scheduler-border {
    border: 2px groove #333431 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
 */
/* legend.scheduler-border {
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
}
 */ 
 /* fieldset { 
 	display: table-cell; 
 }
  */
  
 
 .padd1{
	padding-top:18px;
}
.padd2{
	padding-top:9px;
}

.sidehead1{
	text-align:left;
}

.table-mod1{
	margin-bottom:0px;
}

/* BootStrap Customization */

/* BootStrap Tabs */
.disabledTab {
    pointer-events: none;
}
 
.extrafont{
         font-size:20px;
 }
  .paddleft{
	padding-left:55px;
}

.container
{
	width:95% !important;
}

/*********** SRIKANTH Styles Starts here ***********/
.main{width: 100%;}
.padding0px{padding: 0px !important;}
.padding5px{padding: 5px;}
.margin0px{margin: 0px;}
.margin_top5px{margin-top:5px;}
.margin_top8px{margin-top:8px;}
.padding_bot8px{padding-bottom:8px; !important}
.margin_tb_5px{margin-top:5px;margin-bottom:5px;}
.margin_left5px{margin-left:5px; }
.width100p{width: 100%;float: left;}
.header{width: 100%;float: left;}
.content{width: 100%;float: left;margin: 0 0 20px;}
/* .footer{width: 100%;float: left; background: #000; border-top:1px solid #1BB7F7; padding: 10px 0; margin: 10px 0 0 10px;} */ 
.footer_logos{width: 100%;float: left;}
.home_footer {background: #019ddd;float: left;width: 100%;padding: 10px 0;}
.home_footer_list{float: left;width: 100%;}
.home_footer_list ul{float: left;width: 100%;padding: 0px;margin: 0px;}
.home_footer_list ul li{float: left;width: auto;padding: 0px;margin: 0px 3%;}
.home_footer_list ul li a{float: left;width: auto;padding: 0px;margin: 0px;font-size: 14px;color: #fff;}
.home_footer_list ul span{float: left;width: auto;padding: 0px;margin: 0px;font-size: 13px;color: #2fcbff;}
.poweredby{color: #fff;}
.poweredby a{color: #fff;}
.companies_slider {float: left;width: 100%;margin: 10px 0 0px;}
.companies_slider ul {float: left;}
.companies_slider ul li {float: left;width: 167px;}
.companies_slider ul li a {float: left;width: 167px;text-align: center;}
.sld_icons {float: left;width: 1004px;margin: 0;text-align: center;}
.user_act {background: #eda759;cursor: pointer;	font-size: 14px;font-weight: bold;line-height: 30px;text-transform: capitalize;	color: #fff;}
.user_act a{padding: 2px 10px;color: #fff;}
.panel-primary > .panel-heading{background: #019ddd;}
.marquee{}
.marquee ul{}
.marquee ul li{list-style: inside;font-size: 13px;}
.poweredby{width: 100%;padding: 10px 1% 0;border-top:1px solid #1BB7F7;text-align: center;float: left;margin: 10px 0 0;font-size: 13px;}
.font_increase{width: 25px;margin: 0 4%;}
.font_increase a{border-radius: 5px;background: #0ca8e8;padding:1px 10px;text-align: center;color: #fff;font-size: 14px;width: 27px;}
.font_increase a:hover{text-decoration: none;background: #1ebafa;}
.font_increase a:focus{text-decoration: none;background: #1ebafa;}

.photo_border{float: left;width: 98%;border: 1px solid #ccc;padding: 5px;text-align: center; min-height: 150px;line-height: 150px;}
.sign_border{float: left;width: 98%;border: 1px solid #ccc;padding: 5px;text-align: center; min-height: 20px;}



/*************** Responsive Styless ***************/
/*For Mac Desktop*/
@media all and (min-width: 1920px)
{
.font_increase{width: 18px;margin: 0 2%;}
.font_increase a {font-size: 12px;padding: 1px 6px;width: 23px; }
.home_footer_list ul li{margin: 0 1%;}
.img-responsive img{width: 100%;}

}


/*For Large Desktop*/
@media all and (min-width: 1200px)
{
.font_increase{width: 18px;margin: 0 1%;}
.font_increase a {font-size: 12px;padding: 1px 8px;width: 20px; }
.home_footer_list ul li{margin: 0 2%;}
.nbs-flexisel-item img{max-width:170px !important;}
}
@media all and (min-width: 1300px)
{
.font_increase{width: 18px;margin: 0 1%;}
.font_increase a {font-size: 12px;padding: 1px 8px;width: 23px; }
.home_footer_list ul li{margin: 0 3%;}
.nbs-flexisel-item img{max-width:170px !important;}
}
@media all and (min-width: 1400px)
{
.font_increase{width: 18px;margin: 0 1%;}
.font_increase a {font-size: 12px;padding: 1px 10px;width: 25px; }
.home_footer_list ul li{margin: 0 3%;}
.nbs-flexisel-item img{max-width:170px !important;}
}
@media all and (min-width: 1500px)
{
.font_increase{width: 18px;margin: 0 1%;}
.font_increase a {font-size: 12px;padding: 1px 10px;width: 28px; }
.home_footer_list ul li{margin: 0 3%;}
.nbs-flexisel-item img{max-width:170px !important;}
}



/*For Desktop*/
@media all and (max-width: 1024px)
{
.nav > li > a{padding: 10px;}
.font_increase{width: 20px;margin: 0 4%;}
.font_increase a {font-size: 12px;padding: 1px 8px;width: 25px;margin-top:15px; }
.home_footer_list ul li{margin: 0 1.6%;}
.nbs-flexisel-item img{max-width:160px !important;}
}

/*For Big Tablet*/
@media all and (max-width: 991px)
{
.container{width: 96%;}
.r-tabs .r-tabs-nav {display: none;}
.r-tabs .r-tabs-accordion-title {display: block;}
.mb_width50p{float: left;width: 50%;}
.form-control{margin: 0 0 8px; padding: 0 5px;}
.mb_textcenter{text-align: center;}
.font_increase{margin: 0 3%;}
.labeled{text-align: center !important; margin: 5px 0 0; }
label{margin-bottom:0px;}
fieldset.scheduler-border {padding: 0 1em 1em;}
.nbs-flexisel-item img{max-width:120px !important;}
}

/*For Tablet*/
@media all and (max-width: 768px)
{
.container{width: 96%;}
.r-tabs .r-tabs-nav {display: none;}
.r-tabs .r-tabs-accordion-title {display: block;}
.mb_width50p{float: left;width: 50%;}
.form-control{margin: 0 0 8px;padding: 0 5px;}
.mb_textcenter{text-align: center;}
.font_increase{margin: 0 2%;}
.labeled{text-align: left;margin: 5px 0 0;}
label{margin-bottom:0px;}
fieldset.scheduler-border {padding: 0 1em 1em;}
.nbs-flexisel-item img{max-width:120px !important;}
}

/*For Android Mobile Landscape*/
@media all and (max-width: 640px)
{
.container{width: 96%;}
.row{margin: 0;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {padding: 0px;}
.mb_textcenter{text-align: center;}
.font_increase{margin: 0 2%;}
.form-control{margin: 0 0 8px;padding: 0 5px;}
.labeled{text-align: left;margin: 5px 0 0;}
label{margin-bottom:0px;}
fieldset.scheduler-border {padding: 0 1em 1em;}
.nbs-flexisel-item img{max-width:160px !important;}
}

/*For IPhone Mobile Landscape*/
@media all and (max-width: 480px)
{
.container{width: 96%;}
.row{margin: 0;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {padding: 0px;}
.mb_textcenter{text-align: center;}
.font_increase{margin: 0 2%;}
.form-control{margin: 0 0 8px;padding: 0 5px;}
.labeled{text-align: left;margin: 5px 0 0;}
label{margin-bottom:0px;}
fieldset.scheduler-border {padding: 0 1em 1em;}

}

/*For Android Mobile Portable*/
@media all and (max-width: 360px)
{
.container{width: 96%;}
.row{margin: 0;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {padding: 0px;}
.mb_textcenter{text-align: center;}
.font_increase{margin: 0 3%;}
.form-control{margin: 0 0 8px;padding: 0 5px;}
.labeled{text-align: left;margin: 5px 0 0;}
label{margin-bottom:0px;}
fieldset.scheduler-border {padding: 0 1em 1em;}

}

/*For IPhone Mobile Portable*/
@media all and (max-width: 320px)
{
.container-fluid{padding: 0px 5%;width: 100%;margin: 0;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {padding: 0px;}	
.row{margin: 0;}
.container{width: 96%;}
.home_footer_list ul li a{font-size: 12px;}
.mb_textcenter{text-align: center;}
.font_increase{margin: 0 3%;}
.labeled{text-align: left;margin: 5px 0 0;}
label{margin-bottom:0px;}
.form-control{margin: 0 0 8px;padding: 0 5px;}
}

.dispnone{
	display:none;
}
